# Virtual environments
.venv
venv
__pycache__

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode
.idea

# Python
*.pyc
*.pyo
*.egg-info
*.egg

# Misc
*.md
uv.lock
.python-version
instance/
